.formContainer {
  width: 100%;

  .create__Form {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-4);
    padding: 35px 0;
    margin-bottom: 100px;
  
    .w__Form {
      width: 450px;
      height: max-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px 0px;

      border-radius: 10px;
  
      .w__labelAndInput {
        width: 350px;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 0 20px;
        margin-bottom: 35px;
      }
    }
  }
}

.label__Title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  color: black;
}

input {
  width: 100%;
  height: 40px;
  padding-left: 8px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

.error {
  position: absolute;
  bottom: -20px;
  color: red;
  font-size: 16px;
  min-height: 16px;
  margin-top: 5px;
}

.submit__Button {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 35px 0 0 0;
  background-color: var(--color-1);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--color-3);
  }
}

.dropdown__Container {
  width: 360px;
  height: 42px;

  .dropdown {
    width: 360px;
    height: 100%;
    position: relative;

    .dropdown-button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 42px;
      padding: 10px;
      background-color: var(--color-5);
      color: #1b1b1b;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &.active {
        border-radius: 5px 5px 0 0 !important;
      }
    }

    .dropdown-icon {
      width: 16px;
      height: 16px;
      transition: transform 0.3s;
    }

    .dropdown-list {
      position: absolute;
      width: 100%;
      max-height: 250px;
      background-color: var(--color-5);
      border-radius: 0 0 5px 5px;
      overflow-y: auto;
      padding: 0;
      margin: 0;
      list-style: none;
      z-index: 1000;

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 11px;
      }
    }

    .dropdown-item {
      display: flex;
      padding: 10px 16px;
      color: #1b1b1b;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: var(--color-2);
      }
      
    }
  }
}

.hidden {
  display: none !important; /* Utilisez !important si d'autres styles peuvent interférer */
}

.date-picker-input {
  width: 100%;
  height: 40px;
  padding-left: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  background-color: #fff;
  cursor: pointer;

  &:focus {
    border-color: #1b1b1b;
    outline: none;
  }
}